.form-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid red;
  height: 100%;
}

.weight-form {
  display: grid;
  align-items: center;
  border: 2px solid black;
  height: 50vh;
  width: 25%;
}

.form-heading {
  text-align: center;
  height: 25%;
}

.calc-form {
  display: grid;
  height: 75%;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

.select-box {
  cursor: pointer;
  position: relative;
  max-width: 20em;
  margin: 5em auto;
  width: 100%;
  border: 5px solid green;
}

.select-weight,
.select-box {
  color: #414141;
  display: block;
  font: 400 17px/2em "Source Sans Pro", sans-serif;
}

.select-weight {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box {
  background: #ececec;
}

.select-box {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .select-box::after {
  content: "▲";
}
.select-box::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}
