.form-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid red;
  height: 100%;
}

.weight-form {
  display: grid;
  align-items: center;
  border: 2px solid black ;
  height: 50vh ;
  width: 25%;
}

.form-heading {
  text-align: center;
  height: 25%;
}

.calc-form {
  display: grid;
  height: 75%;
}

